.footer {
    margin-bottom: 50px;
    margin-top: 30px;
    /*background-color: yellow;*/
}

.footer__content p {
    line-height: 25px;
    margin: 0;
}

/*.footer__email {*/
/*    text-decoration: none;*/
/*    color: #212529;*/
/*}*/

/*.footer__email:hover {*/
/*    text-decoration: none;*/
/*    color: #17BF63;*/
/*}*/

.footer__contact {
    text-decoration: none !important;
    color: #212529;
}

.footer__contact:hover {
    text-decoration: none !important;
    color: #17BF63 !important;
}