.bodyContent {
    /*display: flex;*/
    /*width: 100%;*/
    /*height: 100px;*/
    margin-top: 10px;
    /*background-color: chartreuse;*/
    height: auto;

}

.about__title{
    transition:all 0.3s ease-out;
    text-decoration: none !important;
    color: #212529 !important;
}

.about__title:hover{
    color: #17BF63 !important;
    padding-left: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none !important;
}

.about__left {
    /*background-color: purple;*/
    height: auto;
    padding-left: 0;
    width: 100%;
}

.about__left h4 {
    letter-spacing: 3px;
}

.about__left span {
    border-bottom: 1px solid #17BF63;
}

.about__right {
    /*background-color: red;*/
    height: auto;
    width: 100%;
    /*padding: 100px;*/
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
}